body {
  background-color: black;
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  color: white;
  position: relative;
  width: 100%;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: calc(100% - 2rem);
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.platform-text {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-item {
  margin: 0 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.highlight {
  background-color: white;
  color: black;
  padding: 2px 2px;
}

.down-arrow {
  margin-left: 5px;
}

.profile-icon {
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.and-content {
  display: none;
}

.back-to-questions {
  display: flex;
  align-items: center;
  position: absolute;
  top: 80px;
  left: 20px;
  color: white;
  cursor: pointer;
}

.back-arrow {
  color: white;
  margin-right: 10px;
  font-size: 30px;
}

.back-text {
  color: white;
  font-size: 18px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  height: calc(100% - 160px);
  padding: 10px 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 600px;
}

.box {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
}

.box1-div1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge {
  background-color: skyblue;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.rocketicon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rocket {
  font-size: 25px;
}

.startup {
  font-size: 12px;
  opacity: .7;
}

.box1-div2 p {
  font-size: 16px;
  font-weight: bold;
}

.box1-div3 p {
  font-size: 14px;
}

.box1-div2,
.box1-div3 {
  text-align: left;
  margin: 10px 0;
}

.icon {
  cursor: pointer;
}

.box1-div4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.views,
.info {
  display: flex;
  align-items: center;
}

.views span,
.info span {
  font-size: 10px;
}

.icon {
  width: 13px;
  margin-right: 5px;
}

.box2 {
  background-color: black;

  display: flex;
  flex-direction: column;
  margin-top: 20px;

}

.box3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: black;
  color: white;

}

.right-section {
  display: flex;
  align-items: center;

}

.right-text {
  width: 100%;
}

.dropdownr,
.anddropdownr {
  font-size: 15px;
  margin-left: 4px;
  padding: 4px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.dropdown,
.anddropdown {
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.box4 {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
}

.box4-div1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.like-text {
  margin-left: 3px;
  margin-right: 6px;
  font-size: 14px;
  cursor: pointer;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-icon1 {
  color: black;
  font-size: 40px;
}

.name-date {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.name {
  font-weight: bold;
}

.date {
  font-size: 12px;
  color: gray;
}

.edit-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.edit-icon {
  margin-right: 5px;
}

.box4-div2 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 13px;
}

.box4-div2 p span {
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.box4-div3 {
  display: flex;
  align-items: center;
}

.comment-input {
  flex-grow: 1;
  margin: 0 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.post-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.box5 {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  height: 34vh;
  width: 24vh;
  bottom: 8vh;
  right: 16vh;
  background-color: transparent;
  color: black;
  padding: 20px;
  border-radius: 5px;
}

.firstrow,
.firstrowa {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.f1,
.fa1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.text1,
.texta1 {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 13px;
  font-weight: bold;
  opacity: 1;
  padding: 4px 4px;
  border-radius: 4px;
  margin: 0 16px;
  cursor: pointer;
}

.icon1,
.icona1,
.cross {
  position: relative;
  width: 38px;
  height: 38px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}


.helpicon,
.helpicona {
  font-size: 28px;

}

.secondrow {
  position: absolute;
  bottom: 5px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 1000;
}

.feedback1,
.feedback3,
.feedback4 {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 65vh;
  width: 35vh;
  bottom: 8vh;
  right: 16vh;
  background-color: transparent;
  color: black;
  border-radius: 5px;
  z-index: 10;
  margin-top: 20px;
}

.feedback2 {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 52vh;
  width: 35vh;
  bottom: 8vh;
  right: 16vh;
  background-color: transparent;
  color: black;
  border-radius: 5px;
  z-index: 10;
  margin-top: 20px;
}


.textarea,
.textarea3,
.textarea4 {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 20px;
  flex-basis: 90%;
  border-radius: 5px;
  width: 100%;
}

.textarea2 {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 20px;
  flex-basis: 90%;
  border-radius: 5px;
  width: 100%;
}

.anoption,
.anoption3,
.anoption4,
.anoption1,
.anoption31,
.anoption41 {
  flex-basis: 10%;
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: black;
}

.anoption2,
.andanoption2 {
  flex-basis: 10%;
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: black;
}

.feedback1-text,
.feedback2-text,
.feedback3-text,
.feedback4-text {
  margin-bottom: 10px;
}


.feedback1-text span,
.feedback3-text span,
.feedback4-text span {
  font-weight: bold;
  opacity: 0.8;
}

.feedback2-text span {
  font-weight: bold;
  opacity: 0.8;
}

.feedback1-inputs,
.feedback3-inputs,
.feedback4-inputs,
.andfeedback1-inputs,
.andfeedback3-inputs,
.andfeedback4-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feedback2-inputs,
.andfeedback2-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section,
.section3,
.section4,
.andsection,
.andsection3,
.andsection4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  width: 100%;
}

.section span,
.section3 span,
.section4 span {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 5px;
}

.dropdown,
.dropdown3,
.dropdown4,
.anddropdown,
.anddropdown3,
.anddropdown4 {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #ddd;
  border-radius: 5px;
}

.detail,
.detail3,
.detail4,
.anddetail,
.anddetail3,
.anddetail4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.detail2,
.anddetail2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.detail span,
.detail3 span,
.detail4 span {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 5px;
}

.detail2 span {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 5px;
}

.input-textarea,
.input-textarea3 {
  width: 90%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: hsl(0, 0%, 87%);
  border-radius: 5px;
  margin-bottom: 10px;
  resize: none;
}

.addinput_textarea {
  width: 90%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: hsl(0, 0%, 87%);
  border-radius: 5px;
  margin-bottom: 10px;
  resize: none;
}

.input-textarea2,
.andinput-textarea2 {
  width: 90%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: hsl(0, 0%, 87%);
  border-radius: 5px;
  margin-bottom: 10px;
  resize: none;
}

.bottom-row,
.bottom-row3,
.bottom-row4,
.andbottom-row,
.andbottom-row3,
.andbottom-row4 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bottom-row2,
.andbottom-row2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.attach-button,
.attach-button3,
.attach-button4,
.andattach-button,
.andattach-button3,
.andattach-button4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 2vh;
  left: 8px;
  background-color: #ccc;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  width: auto;
}

.attach-button {
  bottom: 8.3vh;
  left: 7px;
}

.attach-button2{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 9vh;
  left: 8px;
  background-color: #ccc;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  width: auto;
}

.attach-icon,
.attach-icon3,
.attach-icon4,
.andattach-icon,
.andattach-icon3,
.andattach-icon4 {
  font-size: 14px;
}

.attach-icon2,
.andattach-icon2 {
  font-size: 14px;
}

.submit-button,
.submit-button3,
.submit-button4 {
  position: absolute;
  right: 0px;
  background-color: #404040;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}
.submit-button
{
  right: 0;
  bottom: -60px;
}


.submit-button2,
.andsubmit-button2 {
  position: absolute;
  bottom: -60px;
  right: 0px;
  background-color: #404040;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}


.icon2,
.icon3,
.icon4,
.ellipse {
  width: 38px;
  height: 38px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
}

.ellipse::before {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #808080;
  border-radius: 50%;
  content: "";
  z-index: -1;
}

.icon22 {
  width: 38px;
  height: 38px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
}
.loginf2
{
  margin-top: 10px;
}

.loginf2,
.andloginf2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.loginf2 span {
  font-size: 13px;
}



.input-textarea4 {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: fit-content;
  max-height: 30px;
  box-sizing: border-box;
  font-size: 11px;
  text-align: left;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  background-color: hsl(0, 0%, 87%);
  border-radius: 5px;
  resize: none;
  overflow-y: none;
}

.section4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

.section4 span {
  margin-bottom: 5px;
  font-weight: bold;
}

.feedback4 {
  height: 60vh;
}

.feedback3 {
  height: 63vh;
}

.submit-button3 {
  position: absolute;
  bottom: -40px;
  right: 0px;
  background-color: #404040;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}
.submit-button3 {
  bottom: -50px;
  right: 0px;
}
.add {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.addspan {
  margin-bottom: 30px;
}

.andbox {
  display: none;
}

.anoption1 {
  display: none;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.feedback1 {
  transition: transform 0.5s ease-in-out;
}

.feedback2 {
  transition: transform 0.5s ease-in-out;
}

.feedback3 {
  transition: transform 0.5s ease-in-out;
}

.feedback4 {
  transition: transform 0.5s ease-in-out;
}

.slide-up {
  animation: slideUp 0.5s forwards;
}

@media (max-width: 960px) {
  .box5 {
    bottom: 8vh;
    right: 8vh;
  }
  .feedback1
  {
    bottom: 8vh;
    right: 5vh;
  }
  .feedback2
  {
    bottom: 8vh;
    right: 5vh;
  }
  .feedback3
  {
    bottom: 8vh;
    right: 5vh;
  }
  .feedback4
  {
    bottom: 8vh;
    right: 5vh;
  }
}

@media (max-width: 820px) {
  .box5 {
    bottom: 8vh;
    right: 0vh;
  }
  .feedback1
  {
    bottom: 8vh;
    right: 5vh;
  }
  .feedback2
  {
    bottom: 8vh;
    right: 5vh;
  }
  .feedback3
  {
    bottom: 8vh;
    right: 5vh;
  }
  .feedback4
  {
    bottom: 8vh;
    right: 5vh;
  }
}

@media (max-width: 610px) {
  .box5 {
    bottom: 8vh;
    right: 0vh;
  }

  .feedback1
  {
    bottom: 8vh;
    right: 5vh;
  }
  .feedback2
  {
    bottom: 8vh;
    right: 5vh;
  }
  .feedback3
  {
    bottom: 8vh;
    right: 5vh;
  }
  .feedback4
  {
    bottom: 8vh;
    right: 5vh;
  }
}

@media (max-width: 550px) {
  .header {
    padding: 14px;
  }

  .platform-text {
    font-size: 14px;
  }
}
@media (max-width: 460px)
{
  .platform-text
  {
    font-size: 12px;
  }
}
@media (max-width: 450px) {

  .header {
    background-color: #333;
  }

  .rocketicon {
    flex-direction: row;
  }

  .rocket {
    font-size: 25px;
    opacity: .8;
    margin: 0px 2px;
  }

  .startup {
    font-size: 12px;
    margin: 0px 2px;
    opacity: .7;
  }



  .back-to-questions,
  .box5,
  .header-item {
    display: none;
  }

  .content-container {
    align-items: flex-start;
    padding-top: 50px;
    height: 100%;
    margin-top: 70px;
  }

  .and-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .and1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 5px;
  }

  .and1 span {
    font-size: 30px;
  }

  .and2 {
    margin: 10px 5px;
  }

  .and2 span {
    font-size: 20px;
    opacity: .8;
  }

  .and3 {
    display: flex;
    flex-direction: column;
  }

  .and31 span {
    opacity: .8;
  }

  ;

  .and1 span,
  .and2 span {
    float: left;
  }

  .and31 span {
    font-size: 20px;
  }

  .and31 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px 5px;
    margin-bottom: 5px;
  }

  .filter-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ddd;
    border-radius: 6px;
    align-items: center;
    margin: 0 0px;
  }

  .filter-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 4px;
  }

  .filter-button span {
    font-size: 11px;
    font-weight: bold;

  }

  .adropdown-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
  }

  .anddropdown {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
  }

  .anddropdown option {
    text-align: center;
  }


  .andbox {
    position: fixed;
    height: 40vh;
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
    bottom: 100px;
    right: 18px;

  }

  .secondrowa {
    width: 100%;
    margin-top: 30px;
  }

  .icona1,
  .cross {
    float: right;

  }

  .andicona1 {
    color: white;
    background-color: black;
  }

  .cross {
    background-color: white;
    color: black;
  }

  .anoption,
  .anoption2,
  .anoption3,
  .anoption4 {
    display: none;
  }

  .anoption1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }




  .feedback1 {
    position: fixed;
    height: 55vh;
    width: 100%;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
  }

  .feedback1.show {
    transform: translateY(0);
    animation: slideUp 0.5s forwards;
  }

  .feedback2 {
    position: fixed;
    height: 45vh;
    width: 100%;
    bottom: 0vh;
    right: 0;
    transform: translateY(100%);
  }

  .feedback2.show {
    transform: translateY(0);
    animation: slideUp 0.5s forwards;
  }

  .feedback3 {
    position: fixed;
    height: 60vh;
    width: 100%;
    bottom: 0vh;
    right: 0;
    transform: translateY(100%);
  }

  .feedback3.show {
    transform: translateY(0);
    animation: slideUp 0.5s forwards;
  }

  .feedback4 {
    position: fixed;
    height: 60vh;
    width: 100%;
    bottom: 0vh;
    right: 0;
    transform: translateY(100%);
  }

  .feedback4.show {
    transform: translateY(0);
    animation: slideUp 0.5s forwards;
  }

  .submit-button {
    position: absolute;
    right: 40px;
    bottom: -50px;
  }

  .submit-button2 {
    position: absolute;
    right: 40px;
    bottom: -50px;
  }

  .submit-button3 {
    position: absolute;
    right: 55px;
    bottom:-60px;
  }

  .submit-button4 {
    position: absolute;
    right: 50px;
    bottom: -50px;
  }

  .input-textarea,
  .input-textarea2,
  .input-textarea3 {
    width: 84%;

  }

  .andinput-textarea {
    width: 84%;
  }

  .input-textarea4 {
    width: 88%;
    overflow-y: hidden;
  }

  .feedback1-text,
  .feedback2-text,
  .feedback3-text,
  .feedback4-text {
    width: 90%;
  }
}